In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 6.8 MB/s eta 0:00:01
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 6.2 MB/s eta 0:00:01
Collecting numpy>=1.17.3
  Downloading numpy-1.21.2-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.8 MB)
     |████████████████████████████████| 15.8 MB 19 kB/s  eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in ./cde_venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./cde_venv/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.2 pandas-1.3.3 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas

In [3]:
import numpy

In [4]:
import pytz

In [38]:
a = 2
b = 3
c = 4
d = 5
e = 6

In [39]:
def aws(num1,num2):
    return num1*num2

print(aws(2,3))

6

In [7]:
import math

In [52]:
def factorials(n):
    a=[]
    for i in range(n,0,-1):
        a.append(i)
    b=[]
    for j in a:
        df=math.factorial(j)
        b.append(df)
    cv=1
    for k in b:
        cv=cv*k
    return cv

In [53]:
print(factorials(4))

288

In [60]:
bin(10041)

'0b10011100111001'

In [51]:
def addition(a,b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)
    print(bin(a))
    print(bin(b))
    print(bin(c))
    print(a.count)

    

    
addition(2,3)
addition(25,35)

5
-1
6
0.6666666666666666
0b10
0b11
0b100

AttributeError: 'int' object has no attribute 'count'

In [66]:
def number(a):
    x=bin(a)
    print(x)

In [67]:
number(23)

0b10111

In [68]:
l=["apple","orange","graphs","pineapple"]

In [69]:
l

['apple', 'orange', 'graphs', 'pineapple']

In [73]:
l[1:3]

['orange']

In [74]:
str1=("one,two,three,four")
print(str1)
type(str1)

one,two,three,four

str

In [76]:
s1='that girl fellow'
s2='girl'
s3='plant'
s4=s1.replace(s2,s3)
print(s4)

that plant fellow

In [2]:
def even_odd(a):
    if a%2!=0:
        print ("even")
    else:
        print ("odd")
        
even_odd(1)

even

In [8]:
a=int(input("enter the num   :"))
if i%2==0:
    print("even")
else:
    print("odd")

enter the num   :5
odd

In [11]:
a=input("enter ur name    :")

enter ur name    :vijay

In [12]:
if a=="yuga":
    print("hello")
else:
    print("zero")

zero

In [18]:
a=int(input("enter the num  :"))
b=int(input("enter the num2  :"))

enter the num  :500
enter the num2  :2

In [20]:
if a*b>=1000:
    print(a+b)
else:
    print("zero")

502

In [21]:
a=input("enter the name1 :")
b=input("enter last name2 :")

enter the name1 :yuga
enter last name2 :bharathi

In [22]:
print(b,a)

bharathi yuga

In [25]:
a=int(input("enter radius :"))

enter radius :2

In [26]:
b=2*3.14*a*a
print(b)

25.12

In [37]:
a=[0,1,3,2,3,1]
count=0
list1 = []
for i in a:
    if a.count(i) > 1:
        list1.append(i)
print(list1)

[1, 3, 3, 1]