## => write a program to show the use of any 10 types of exception:

### *syntaxWarning error

In [1]:
name=("yuga")
if name is "yuga":
    print("hai",name)

hai yuga

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_91433/4255599561.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if name is "yuga":

### *Type error

In [2]:
def add(a,b,*,c,d):
    return a+b+c+d

print (add(3,4,1,d=2))

TypeError: add() takes 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

## *attributeError

In [3]:
x=int(input("enter the integer------> "))
try:
    x.append()
except AttributeError:
    print("Cannot append element with int ")

enter the integer------> 10
Cannot append element with int

## *ValueError

In [4]:
while True:
    try:
        x = int(input("a number: "))
        break
    except ValueError:
        print("it is not a valid number.  Try again...")

a number: 0

## *OverFlowError

In [6]:
try:
    import math
    a=int(input("Enter the number below 100  ----> "))
    print("The exponential value for {} is ".format(a))
    print(math.exp(a))
except OverflowError:
    print("Enter the number below 100")

Enter the number below 100  ----> 10
The exponential value for 10 is
22026.465794806718

## *FileFoundError

In [7]:
import sys
try:
    file = open('myfile.txt')
    print(file)
except FileNotFoundError:
    print("File not found")

File not found

## *NOtImplementedError

In [8]:
try:
    class BaseClass(object):
        def __init__(self):
            super(BaseClass, self).__init__()
        def do_something(self):
            raise NotImplementedError(self.__class__.__name__ + '.try_something')
    class SubClass(BaseClass):
        def do_something(self):
            print (self.__class__.__name__ + ' trying something!')
except NotImplementedError :
    print("jdhfgvisdgf")
SubClass().do_something()
BaseClass().do_something()

SubClass trying something!

NotImplementedError: BaseClass.try_something

## ==> Write a program to show the use of any 10 built in function:

### *isinstance

In [9]:
name_list={"KAVIN","harpreet","aamruth"}
isinstance(list1,set) #check if an object is of what type in it.

NameError: name 'list1' is not defined

### *zip

In [10]:
fruits=("apple","orange","mango","strawberry")
quantity=[11,22,33,44,55]
zip(fruits,quantity)#used to zip two different object

list(zip(fruits,quantity))

[('apple', 11), ('orange', 22), ('mango', 33), ('strawberry', 44)]

### *Map

In [11]:
Numbers={1,2,3,4,5,6,7,8,9}
set(map(lambda x:x*2,Numbers))
#Map use to apply math operation to all iterable elements

{2, 4, 6, 8, 10, 12, 14, 16, 18}

### *Filter

In [12]:
Numbers={1,2,3,4,5,6,7,8,9}
set(filter(lambda x:x%2,Numbers))

{1, 3, 5, 7, 9}

### *Input

In [13]:
name=str(input("Enter your name:"))
print(name)

Enter your name:yuga
yuga

### *hex

In [14]:
value=hex(18)#gives hex value
print(value)

0x12

### *bin

In [15]:
value1=bin(10)#GIVES bin value
print(value1)

0b1010

### *format

In [16]:
a=format(123.45789,'.2f')

# percentage rounded off to one decimal place
b=format(0.1569,'.1%')


# hexadecimal number 
c=format(10,'x')


# exponential notation rounded off two decimal places with sign for both positive and negative numbers
d=format(123.45789,'+.2e')

# number with fill character, width, and right-alignment
e=format(123.45789,'*>30')

print(a,b,c,d,e)

123.46 15.7% a +1.23e+02 *********************123.45789

## *eval

In [17]:
eval('len("harpreet")')#used to evaluate string in int

8

## *Enumurate

In [18]:
names = ['yuga', 'amruth', 'harpreet', 'bharathi']

for names_index in enumerate(names):
    print(names_index)
for index, item in enumerate(names):
    print('Index: {}, Item: {} '.format(index, item))

(0, 'yuga')
(1, 'amruth')
(2, 'harpreet')
(3, 'bharathi')
Index: 0, Item: yuga
Index: 1, Item: amruth
Index: 2, Item: harpreet
Index: 3, Item: bharathi

## ==>write a program to show the use of break and continue:

### *Break

In [19]:
for name in "harpreet beautifull":
    if name=="f":
        break #break use to stop the loop
    print(name,end="")

harpreet beauti

### *Continue

In [20]:
for name in "harpreet":
    if name=="p":
        continue #continue skips the value
    print(name,end="")

harreet

## ==> Implementing oops concept:

## *Inheritance

In [21]:
class student:          

    def __init__(self, name, year):
        self.name = name 
        self.year = year

    def name_1(self):                
        return f"The {self.name} is a teacher and studied in the year {self.year} , staying in punjab"

class subject(student):
    pass
    
class collage(student):     
    def clas_std(self):
        return "information of students is here."

In [22]:
obj1 = subject("harpreet",1990)
print(obj1.name_1())
obj2 = collage("kaur",1991)
print(obj2.name_1())
print(obj2.clas_std())

The harpreet is a teacher and studied in the year 1990 , staying in punjab
The kaur is a teacher and studied in the year 1991 , staying in punjab
information of students is here.

## *Method

In [23]:
class student:          

    def __init__(self, name, year):
        self.name = name 
        self.year = year

    def name_1(self):                
        return f"{self.name} is a teacher and studied in the year {self.year} , staying in punjab"
    def collage(self):
        return f"The {self.name} passout in the year {self.year}"

In [24]:
obj = student("harpreet",1990)
print(obj.name_1())
print(obj.collage())

harpreet is a teacher and studied in the year 1990 , staying in punjab
The harpreet passout in the year 1990

## *Encapsulation

In [25]:
class student:
    def __init__(self, name, age):
        self._name = name                
        self._age = age 

    def name_1(self):                
        return f"{self._name} is a teacher and her age is {self._age} , staying in punjab"
collage = student("Harpreet",96)
print(collage.name_1())
print(collage._name)
print(collage._age)

Harpreet is a teacher and her age is 96 , staying in punjab
Harpreet
96

## *Polymorphism

In [26]:
class Dog:
    def breed(self):
        print("It is breed of Dog")

class Cat:
    def breed(self):
        print("It is breed of cat.")

In [27]:
Rattwheel = Dog()
Persian = Cat()
for pet in (Rattwheel,Persian):
    pet.breed()

It is breed of Dog
It is breed of cat.

## write a program to show different between different kind of arguments in function:

### *default arguments.

In [28]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(2))

17

### *keyword arguments.

In [29]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(a=20))

35

### *positional arguments

In [30]:
def add(a,b,c):
    return (a+b+c)
add(10,20,30)

60

### *arbitrary positional arguments

def add(*b):
    result=0
    for i in b:
         result=result+i
    return result
print (add(1,2,3,4,5))
print (add(10,20))

### *arbitrary keyword arguments

In [31]:
def fn(**a):
    for i in a.items():
        print (i)
fn(numbers=5,colors="blue",fruits="apple")
'''
Output:
('numbers', 5)
('colors', 'blue')
('fruits', 'apple')
'''

('numbers', 5)
('colors', 'blue')
('fruits', 'apple')

"\nOutput:\n('numbers', 5)\n('colors', 'blue')\n('fruits', 'apple')\n"

## ==> For Loop

In [33]:
x=0
for x in range(2,7):
    print(x)

2
3
4
5
6

## ==> While Loop

In [32]:
x=0
while(x <4):
    print(x)
    x = x+1

0
1
2
3